<div class="bck__grid">
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
	<div class="bck__grid__item">
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
		<div class="bck__sub-grid__item"></div>
	</div>
</div>