<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body>
	{% include post-header.html %}

	<main>
		<div class="content-wrapper">
			{% for post in site.categories[page.category] %}
			<div class="post post_in_list">
				{% if post.featured_image %}
				<a class="no-bck" href="{{post.permalink}}">
					<img class="post-index-image" src="{{ post.featured_image }}" /> </a>{% endif %}
				<h2 class="post-index-title">
					<a href="{{post.permalink}}">{{ post.title }}</a>
				</h2>
			</div>
			{% endfor %}
		</div>
	</main>
	<script src="assets/js/main.js"></script>
</body>

</html>